.header{
 background-color: blueviolet;
 padding-top: 10px;
 padding-bottom: 5px;
}

.menuContainer{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menu{
    text-decoration: none;
    color: white;
}