
.App {
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }
  
  .Heading{
    text-align: center;
    color: white;
  }
  
  
  .btn{
    padding: 9px 25px 9px 25px;
    background-color: blueviolet;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    margin-left: 45px;
    border: 1px solid transparent;
    border-radius: 25px;
  }
  
   input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-bottom: 2px solid blueviolet;
    outline: none;
  }
  